.titleBar {
    height: 30px;
    /*background: #000;*/
    user-select: none;
    display: flex;
    justify-content: flex-end;
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
}